<div class="modal-content modal">
        <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel3">
              <i class="fa fa-arrow-left" aria-hidden="true" (click)="closeModal()"></i>
              <!-- <span>Test</span> -->
           </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body modal-body2">
        <div _ngcontent-c18="" class="container">
        <div _ngcontent-c18="" class="rating-sec">
           <div _ngcontent-c18="" class="rate">
              <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                    <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                </a>
           </div>
        </div>
        <div _ngcontent-c18="" class="col-md-12 submit-btn">
        <div _ngcontent-c18="" class="row">
           <div _ngcontent-c18="" class="col-md-12">
              <form [formGroup]="ratingForm" (ngSubmit)="addRating()">
                 <div class="form-group">
                    <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="review" [ngClass]="{ 'is-invalid': submitted && fs.review.errors }"></textarea>
<!--                  
                    <input type="text" placeholder="Search for a service" class="form-control" id="usr" name="searchtxt" formControlName="searchtxt" [ngClass]="{ 'is-invalid': submittedSearch && fs.searchtxt.errors }" (input)="onSearchChange($event.target.value)"> -->
                    <div *ngIf="submitted && fs.review.errors" class="invalid-feedback">
                        <div *ngIf="fs.review.errors.required">Review is required</div>
                    </div>

                    <!-- <div class="rate-racipy">
                       <a _ngcontent-c18="">Rate the Service</a>
                       
                     </div> -->
                     <button type="submit" class="btn">
                        <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                         Rate the Service</button>

                  </div>
              </form>
              <!-- <p class="ratingText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                 eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                 pretium. 
              </p> -->

              <!-- <div class="rate-racipy">
                 <a _ngcontent-c18="">Rate the Service</a></div> -->
           </div>
        </div>