<section class="innerbanner">
  <img src="assets/img/inner-banner.jpg" alt="">
</section>
<section class="innerbody">
  <div class="container">
    <div class="row">
      <!-- Start Blog Details Area -->
      <section class="blog-details-area ptb-120 col-xl-12 col-12 p-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="blog-details" *ngIf="blogData; else dataLoading">
                <div class="article-image" *ngIf="+blogData.is_active">
                  <img [src]="imageBaseUrl + blogData.image_large" alt="image">
                </div>
                <div class="article-content" *ngIf="+blogData.is_active">
                  <h3 class="my-3 text-capitalize">{{ blogData.title }}</h3>
                  <div class="entry-meta">
                    <ul>
                      <li class="mr-2">
                        Event on: {{ blogData.event_date | date}}
                      </li>
                    </ul>
                  </div>
                  <div class="blog-description" [innerHTML]="blogData.description"></div>
                </div>
                <div class="blog-details" *ngIf="+blogData.is_deleted">
                  <p>This Post Has been Deleted.</p>
                </div>

              </div>
              <ng-template #dataLoading>
                <div class="blog-details">
                  <p>Loading...</p>
                </div>
              </ng-template>
            </div>
            <div class="col-lg-4 col-md-12">
              <aside class="widget-area p-0" id="secondary">

                <section class="widget widget_labto_posts_thumb">
                  <h3 class="widget-title">All Posts</h3>
                  <article class="popular-blogs-container"
                    *ngIf="removeCurrent(blogList).length;else noRecentPostsFound">
                    <article class="item"
                      *ngFor="let blog of removeCurrent(blogList) | slice:0:4; trackBy:trackByBlogId">
                      <a [routerLink]="['/blog/details', blog.id]" class="thumb d-inline-block">
                        <img *ngIf="blog.image_small" [src]="imageBaseUrl + blog.image_small">
                      </a>
                      <div class="info">

                        <time [attr.datetime]="blog.event_date">
                          {{ blog.event_date | date }}
                        </time>
                        <h4 class="title usmall">
                          <a [routerLink]="['/blog/details', blog.id]">
                            {{ blog.title }}
                          </a>
                        </h4>
                      </div>
                      <div class="clear"></div>
                    </article>
                  </article>
                  <ng-template #noRecentPostsFound>
                    <p>No Recent Posts Found</p>
                  </ng-template>
                </section>
              </aside>
            </div>
          </div>
        </div>
      </section>
      <!-- End Blog Details Area -->
    </div>
  </div>
</section>
<div class="clearfix"></div>
