.submit-btn-reschedule{ margin: 0px auto; display: block; text-align: center; }

.submit-btn-reschedule button.btn {
    margin-left: 12px;
}


.submit-btn-reschedule input {
    border: 1px solid;
    border-radius: 6px;
    padding: 4px 20px;
}