<div class="modal-content modal">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">
            <i class="fa fa-arrow-left" aria-hidden="true" (click)="closeModal()"></i>
            <!-- <span>Test</span> -->
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-body2">
        <div class="container">
            <div class="col-md-12 submit-btn">
                <div class="row">
                    <div class="col-md-12 submit-btn-reschedule">
                            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="calendarMinDate" placeholder="Date Time">
                            <owl-date-time #dt1></owl-date-time>
                            <button type="submit" class="btn" (click)="getReschedule(dt1)">Submit</button>
                        <!-- <label>
                            Date Time:
                            <input [owlDateTime]="dt1">
                            <span class="trigger" [owlDateTimeTrigger]="dt1">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <owl-date-time #dt1></owl-date-time>
                        </label> -->
                        <!-- <form (ngSubmit)="addRating()">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    formControlName="review"></textarea>
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
