<section class="innerbanner">
  <img src="assets/img/contact.jpg" alt="">
</section>
<div class="editporfilebg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>

      </div>
      <div class="col-lg-9">
        <h2>My Appointment</h2>
        <!------------------------------------------------------>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12">

              <mat-tab-group (selectedTabChange)="onSegmentChange($event)">
                <mat-tab label="Upcoming">
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        <div class="col-xs-12 col-md-6 col-sm-6" *ngFor="let order of orderarr; let i = index">
                          <div class="row">
                            <div class="historybox">
                              <h2>{{order.order_details.category_name}}</h2>
                              <h4>{{order.order_details.order_no}}</h4>
                              <!-- <h4>July 21, 2019</h4> -->
                              <h4>{{order.order_details.date_created | date: 'MMMM d, y'}}</h4>
                              <a class="btn btn-info" role="button">Request Ongoing</a>
                              <!-- <p>{{order.order_details.category_description}}</p> -->
                              <!-- <div [innerHTML]="order.order_details.category_description"></div> -->
                            </div>
                            
                            <!-- <div class="viewbooking" (click)="gotoDetails(order.order_details)"><a class="btn btn-info" role="button">VIEW APPOINTMENT</a></div> -->
                            <div class="viewbooking">
                              <button class="btn btn-info" (click)="gotoDetails(order.order_details)" type="button">
                                VIEW APPOINTMENT
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="no-record" *ngIf="orderarr.length == 0">
                          <img src="assets/img/no-record.png">
                          <h3>No Services Found!!!!</h3>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim
                      occaecat
                      veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                      Velit
                      non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non
                      minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum
                      in
                      qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis
                      reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="HISTORY">
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        <div class="col-xs-12 col-md-6 col-sm-6" *ngFor="let order of orderarr; let i = index">
                          <div class="row">
                            <div class="historybox">
                              <h2>{{order.order_details.category_name}}</h2>
                              <h4>{{order.order_details.order_no}}</h4>
                              <!-- <h4>July 21, 2019</h4> -->
                              <h4>{{order.order_details.date_created | date: 'MMMM d, y'}}</h4>
                              <!-- <a  class="btn btn-info" role="button">Request Ongoing</a> -->
                              <!-- <p>{{order.order_details.category_description}}</p> -->
                              <!-- <div [innerHTML]="order.order_details.category_description"></div> -->
                            </div>
                            <!-- <div class="viewbooking" (click)="gotoDetails(order)"><a class="btn btn-info" role="button">VIEW APPOINTMENT</a></div> -->
                            <div class="viewbooking">
                              <button class="btn btn-info" (click)="gotoDetails(order)" type="button">
                                VIEW APPOINTMENT
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="no-record" *ngIf="orderarr.length == 0">
                          <img src="assets/img/no-record.png">
                          <h3>No Services Found!!!!</h3>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim
                      occaecat
                      veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                      Velit
                      non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non
                      minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum
                      in
                      qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis
                      reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="CANCELED">
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row">
                        <div class="col-xs-12 col-md-6 col-sm-6" *ngFor="let order of orderarr; let i = index">
                          <div class="row">
                            <div class="historybox">
                              <h2>{{order.order_details.category_name}}</h2>
                              <h4>{{order.order_details.order_no}}</h4>
                              <!-- <h4>July 21, 2019</h4> -->
                              <h4>{{order.order_details.date_created | date: 'MMMM d, y'}}</h4>
                              <!-- <a  class="btn btn-info" role="button">Request Ongoing</a> -->
                              <!-- <p>{{order.order_details.category_description}}</p> -->
                              <!-- <div [innerHTML]="order.order_details.category_description"></div> -->
                            </div>
                            <!-- <div class="viewbooking" (click)="gotoDetails(order)"><a class="btn btn-info" role="button">VIEW APPOINTMENT</a></div> -->
                            <div class="viewbooking">
                              <button class="btn btn-info" type="button" (click)="gotoDetails(order)">
                                VIEW APPOINTMENT
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="no-record" *ngIf="orderarr.length == 0">
                          <img src="assets/img/no-record.png">
                          <h3>No Services Found!!!!</h3>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim
                      occaecat
                      veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                      Velit
                      non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non
                      minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum
                      in
                      qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis
                      reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                  </div>
                </mat-tab>

              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
