.edit-icon i {
    padding: 10px;
    cursor: pointer;
}

.row.packagesRow.ng-star-inserted p {
    font-size: 16px;
    color: #887c7c;
}

.row.packagesRow.ng-star-inserted .edit-icon {
    text-align: right;
}

.no-record button {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    display: block;
}