<div class="login-modal">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{formHeaderName}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closeSignIn()">&times;</button>
        </div>
        <div class="modal-body">
            <form role="form" [formGroup]="forgotForm" (ngSubmit)="onMobileSubmit()" novalidate *ngIf="isMobileForm">
                <div class="form-group">
                    <label for="contact">User Type:</label>
                    <mat-radio-group aria-label="Select an option" formControlName="user_type">
                      <mat-radio-button value="2">Customer</mat-radio-button>
                      <mat-radio-button value="3">Technician</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="clearfix"></div>
              <div class="form-group">
              <label for="email">Mobile Number:</label>
              <input type="text" class="form-control" id="contact" name="contact" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
              <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                  <div *ngIf="f.contact.errors.required">Contact number is required</div>
                 
              </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Submit</button>
          </form>

          <form role="form" [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()" novalidate *ngIf="isOtpForm">
            <div class="form-group">
              <label for="email">OTP:</label>
              <input type="text" class="form-control" id="otp" name="otp" formControlName="otp" [ngClass]="{ 'is-invalid': submitted && fo.otp.errors }">
              <div *ngIf="submitted && fo.otp.errors" class="invalid-feedback">
                  <div *ngIf="fo.otp.errors.required">OTP is required</div>
                 
              </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Submit</button>
          </form>

          <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onPasswordSubmit()" novalidate *ngIf="isPasswordForm">
            <div class="form-group">
              <label for="email">New Password:</label>
              <input type="password" class="form-control" id="newpass" name="newpass" formControlName="newpass" [ngClass]="{ 'is-invalid': submitted && fp.newpass.errors }">
              <div *ngIf="submitted && fp.newpass.errors" class="invalid-feedback">
                  <div *ngIf="fp.newpass.errors.required">New Password is required</div>
                 
              </div>
            </div>
            <div class="form-group">
              <label for="email">Confirm Password:</label>
              <input type="password" class="form-control" id="confpass" name="confpass" formControlName="confpass" [ngClass]="{ 'is-invalid': submitted && fp.confpass.errors }">
              <div *ngIf="submitted && fp.confpass.errors" class="invalid-feedback">
                  <div *ngIf="fp.confpass.errors.required">Confirm Password is required</div>
                  <div *ngIf="fp.confpass.errors.mustMatch">Passwords must match</div>
                 
              </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Submit</button>
          </form>

        </div>

      </div>
    </div>
  </div>