.wallet h2 {
    text-align: left;
    font-size: 22px;
    color: #641010;
    font-weight: 600;
    padding: 10px 0px;
    margin: 0px;
}

.wallet p {
    font-size: 14px;
    text-align: left;
}

.walletImg {
    width: 40%;
    margin: 0px auto;
}

.walletImg img {
    width: 40%;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    float:right;
}